{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="liked-wines-container">
    <div class="liked-wines">
        <h2 class="liked-wines-title">List of Wines you like:</h2>
        {% for post in posts %}
            <div class="wine-detail">
                <h3>🍷 <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a> | {{ post.winery }}</h3>
            </div>
        {% empty %}
            <p>You have not liked any posts yet.</p>

        {% endfor %}
    </div>
    <div>
        <img src="{% static 'img/reflection.jpg' %}" class="wine-image">
    </div>
 
</div>


{% endblock %}