{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-lg-8 col-md-12">
            <div class="liked-wines">
                <h2 class="liked-wines-title">List of Liked Wine Posts</h2>
                {% for post in posts %}
                    <div class="wine-detail">
                        <h5>🍷 <a href="{% url 'post_detail' post.slug %}" class="post-link">{{ post.title }}</a> | {{ post.winery }}</h5>
                    </div>
                {% empty %}
                    <p>You have not liked any posts yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <img src="{% static 'img/reflection.jpg' %}" class="wine-image img-fluid">
        </div>  
    </div>
    <!-- Marquee banner -->
    <div class="marquee mb-5">
        <p>🍷 ✨ Dear {{ user }}, if you would like to PUBLISH your own WINE POST on our page contact us: admin@vina.com ✨ 🍷</p>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="border border-4 rounded p-5">
                <h2>➕ New Wine Diary Entry ➕</h2>
                <!-- Diary Entry Form -->
                {% include 'vinoteka/create_diary.html' %}
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
                <h2 class="liked-wines-title">My Wine Diary</h2>
                <!-- List (as table) of Diary Entries-->
                {% include 'vinoteka/diary_list.html' %}
        </div>
    </div>
</div>
{% endblock %}