:root {
    --primary-color: #5E2028;
    --secondary-color: #42a5ff;
    --tertiary-color: #445261;
    --quaternary-color: #188181;
    --light-color: #DBEEFF;
  

}

body {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.light-bg {
    background-color: #5E2028;
}

.main-bg {
    background-color: var(--light-color);
}

/* Header */
.navbar {
    background-color: var(--primary-color) !important;
    font-size: 1.5em;
}

.navbar .navbar-nav .nav-link {
    color: var(--light-color);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--secondary-color); 
}

.logo img {
    border-radius: 5px;
}

/* blog site */
.card {
    border: none;
    background-color: transparent;
}

.col-md-4 {
    margin-right: auto;
    margin-left: auto;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #5E2028;
}

.scale {
    width: 100%;
    height: auto;
}

.winery {
    color: var(--light-color);
    margin: 5px;
    text-transform: uppercase;
}

.bloghead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}


.bloghead-text {
    background-color: var(--secondary-color);
    color: white;
    position: relative;
}

.bloghead-img {
    position: relative;
    overflow: hidden;
}

.bloghead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.page-link {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.page-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.details-card {
    border: 2px solid var(--primary-color); 
}

.details-title {
    font-family: Playfair, sans-serif;
    color: var(--primary-color);
    text-transform: uppercase;
}

.card-text {
    line-height: 2.3;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover{
    color: var(--secondary-color);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: var(--secondary-color);
}

.link {
    color: var(--secondary-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.btn-like {
    color: var(--primary-color);
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: var(--primary-color);
}

.btn-like:hover,
.btn-like:active {
    color: #325b51;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Vinoteque/vinoteka site */
.liked-wines-container {
    display: flex; 
    margin: 40px 60px;
}

.liked-wines {
    flex: 2; /* take up 2/3 of the container */
}

.liked-wines-title {
    color: var(--primary-color);
    font-size: 3em;
    margin-bottom: 20px;

}

.wine-image {
    flex: 1; /* take up 1/3 of the container */
    object-fit: cover; /* make the image cover its area */
    max-width: 600px;
    max-height: 600px;
    border-radius: 5px; 
}


/* Footer */
.footer {
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color) !important;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer > * {
    display: block;
}

.social-networks {
    list-style: none; /* remove list bullets */
    padding: 0; /* remove padding */
    display: flex; /* display in one row */
    justify-content: center; /* center items horizontally */
}

.social-networks li {
    margin: 0 10px; /* add some horizontal spacing between icons */
}